<include file="public/layout" />
<body style="background-color: #FFF; overflow: auto;"> 
<div class="page">
  <div class="fixed-bar">
    <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
      <div class="subject">
        <h3>二手市场审核</h3>
        <h5>二手市场信息审核与管理</h5>
      </div>
    </div>
  </div>
	<form action="{:U('Life/marketHandel',array('act'=>'check'))}" method="post" class="form-horizontal">
    <div class="ncap-form-default">
      <dl class="row">
        <dt class="tit">
          <label for="ac_name">标题</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="title" value="{$list.title}" disabled="disabled">
        </dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <label for="ac_name">区域</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="area" value="{$list.area}" disabled="disabled">
        </dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <label for="ac_name">交易类型</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="trans_type" value="{$list.trans_type}" disabled="disabled">
        </dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <label for="ac_name">产品分类</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="product_cate" value="{$list.product_cate}" disabled="disabled">
        </dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <label for="ac_name">来源</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="source" value="{$list.source}" disabled="disabled">
        </dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <label for="ac_name">送货</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="is_elivery" value="{$list.is_elivery}" disabled="disabled">
        </dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <label for="ac_name">价格</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="price" value="{$list.price}" disabled="disabled">
        </dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <label for="ac_name">详情描述</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="content" value="{$list.content}" disabled="disabled">
        </dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <label for="ac_name">图片地址</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="picture" value="{$list.picture}" disabled="disabled">
        </dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <label for="ac_name">联系人名字</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="contact_name" value="{$list.contact_name}" disabled="disabled">
        </dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <label for="ac_name">联系人电话</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="contact_phone" value="{$list.contact_phone}" disabled="disabled">
        </dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <label for="ac_name">微信</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="weixin" value="{$list.weixin}" disabled="disabled">
        </dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <label for="ac_name">QQ</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="qq" value="{$list.qq}" disabled="disabled">
        </dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <label for="ac_name">邮箱</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="email" value="{$list.email}" disabled="disabled">
        </dd>
      </dl>
      <div class="bot">
        <h3>审核：</h3>　　　
          <input type="radio" name="status" value="1"  <if condition="$list[status] eq 1"> checked </if> > 通 过  　
          <input type="radio" name="status" value="2" <if condition="$list[status] eq 2"> checked </if> > 不 通 过
      </div>
      <div class="bot"><a href="JavaScript:void(0);" onClick="$('.form-horizontal').submit();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
    </div>
        <input type="hidden" name="id" value="{$list.id}">    
  </form>
</div>
<script>

</script>
</body>
</html>